@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
</style>

html{
    scroll-behavior: smooth;
}
* {margin:0; padding:0}
body{
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    font-size: 18px;
    padding-top: 100px;
    margin: 0 auto;
}
label {
    display: inline-block;
    width: 20%
  }
fieldset {
    padding: 20px;
}